.display-block {
    display: block;
}

.display-none {
    display: none;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 10;
}

.lightbox-next, .lightbox-prev, .lightbox-close {
    border: none;
    background-color: #fff;
    font-size: 42px;
    color: #901C1C;
    cursor: pointer;
    position: fixed;
}

.lightbox-next, .lightbox-prev {
    top: 0;
    z-index: 11;
    height: 100%;
    right: 23%;
}

.lightbox-prev {
    right: auto;
    left: 23%;
}

.lightbox-close {
    top: 12%;
    right: 23%;
    z-index: 12;
}

#lightbox-content {
    height: 100%;
}

.lightbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.lightbox-container .pictures {
    width: 860px;
    height: 740px;
    border-radius: 5px;
    object-fit: cover;
}

.lightbox-title {
    z-index: 11;
    position: fixed;
    bottom: 5%;
    left: 27.5%;
    color: #901C1C;
    font-size: 22px;
}