@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin-left: 100px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;

    width: 200px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section a {
    text-decoration: none;
}

.photographer_section a:focus {
    outline: 3px solid #901C1C;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.photograph-container {
    display: flex;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin-bottom: 5px;
    text-align: center;
}

.photographer_section article p {
    margin: 2px;
}

.photographer_section article .location {
    color: #901C1C;
    font-weight: 700;
    font-size: 18px;
}

.photographer_section article .tagline {
    color: black;
    font-size: 13px;
    font-weight: 700;
}

.photographer_section article .price {
    color: #757575;
    font-size: 12px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    margin: auto;
    border-radius: 100px;
    object-fit: cover;
}

.img-portrait {
    height: 200px;
    width: 200px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 100px;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .photographer_section {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 425px) {
    .photographer_section {
        grid-template-columns: 1fr;
    }
    .main-header {
        display: block;
        margin: 25px 0 0 0;
        text-align: center;
    }
    h1 {
        color: #901C1C;
        margin-right: 0;
    }
}